@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    background-image: url("../public/img/hero01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.rounded-4xl{
    border-radius: 2.5rem;
}

.rounded-5xl{
    border-radius: 2.8rem;
}